# Hugo default output directory
/public
/resources

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# MacOS
.DS_Store

# exampleSite
exampleSite/themes
exampleSite/public
exampleSite/resources