{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ if and (gt (len $pages) 1) (in $pages . ) }}

<div class="pagination_row">
    {{ with $pages.Next . }}
    <div class="col_left arrow"><a href="{{ .Permalink }}">← </a></div>
    <div class="col_left mobile_hide"><a href="{{ .Permalink }}">{{ .Name }}</a></div>
    {{ end }}
    {{ with $pages.Prev . }}
    <div class="col_right mobile_hide"><a href="{{ .Permalink }}">{{ .Name }}</a></div>
    <div class="col_right arrow"><a href="{{ .Permalink }}"> →</a></div>
    {{ end }}
</div>
{{ end }}
