<div id="social">

<p>{{ .Site.Social }}</p>
<p>{{ range $key, $val := .Site.Social }}
	{{ print $key ": " $val }}<br>
    {{ end }}</p>
    
{{ .Site.Params.Fruit }}    
    {{ if .Site.Params.enableRSS }}
	<a class="symbol" href="{{ with .OutputFormats.Get "RSS"}}{{ .RelPermalink }}{{ end }}" target="_blank">
	    {{partial "svgs/rss.svg" (dict "fill" "#bbbbbb" "width" 28 "height" 28 )}}</a>
	{{ end }}


	
	{{/*
	{{ range $key, $val := .Site.Social }}
    {{if ne $key "_merge" }}

    <a class="symbol" href="{{ $val }}" target="_blank">
	{{ $svg :=  print "svgs/" $key ".svg" }}
	{{ partial $svg (dict "fill" "#bbbbbb" "width" 28 "height" 28 ) }}</a>
    {{ end }}
{{ end }}
*/}}
</div>
